name: shell commands

on: [push]

jobs: 
  run-shell-command:
    runs-on: windows-latest
    steps:
      - name: echo a string
        run: echo "Hello World"
      - name: multiline script
        run: | 
          node -v
          npm -v
# With that we run multiple commands
  run-windows-command: 
    runs-on: windows-latest
    needs: ["run-shell-command"]
    # The needs is used to put a condition that this job executes after the first job.
    steps:
      - name: Directory PowerShell
        run: Get-Location
      - name: Directory Bash
        run: pwd
        shell: bash
